html {
  scroll-behavior: smooth;
}
#progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  z-index: 20;
}

#progress-bar {
  height: 100%;
  background-color: #2563eb;
  width: 0;
}

.project-image {
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.project-image:hover {
  transform: scale(1.05);
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  padding-bottom: 1rem;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 0px;
}

.project-card {
  flex: 0 0 auto;
  max-width: 450px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.contact-card {
  background: linear-gradient(135deg, #f0f4f8, #ffffff);
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.filter-btn.active {
  background-color: #2563EB;
  color: white;
}

.stepper {
  display: flex;
  flex-direction: column;
}
.step {
  border-left: 2px solid #3b82f6;
  padding-left: 30px;
  padding-bottom: 20px;
  position: relative;
}

.step:last-child {
  border-left: none;
}

.step-number {
  position: absolute;
  left: -30px;
  top: 0;
  background-color: #3b82f6;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -16px;
}

@media screen and (max-width: 768px) {
  .project-grid {
      grid-template-columns: 1fr;
  }
}




.project-grid {
  margin: 0px auto 6rem;
  display: grid;
  max-width: calc(1280px + 2rem);
  padding: 0px 1rem;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.project {
  margin: 0px auto;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid rgba(43, 105, 251, 0.12);
  box-shadow: rgba(43, 105, 251, 0.06) 0px 0px 1rem 1rem;
  position: relative;
}

.project-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 0rem 1rem;
  color: rgb(10, 0, 27);
  margin-top: 47%;
  background: rgb(250, 254, 255);
  box-shadow: rgb(250, 254, 255) 0px 0px 4rem 6rem;
}

.project-img {
  display: flex;
  width: 100%;
  height: auto;
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  border-radius: 0.8rem;
  border: 1px solid rgba(43, 105, 251, 0.12);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.project-img, .project-text {
  grid-area: 1 / 1 / -1 / -1;
  position: relative;
}